*{margin: 0;
padding: 0;
font-family: san sans-serif;}
.containerfluid{
    margin: 0 auto;
    background-image:linear-gradient(to top ,rgba(131, 61, 61, 0.6),rgba(47, 45, 51, 0.3)), url(../images/a1.jpg);
    background-blend-mode: darken;
    background-position: center;
   background-size: cover; 
   height: 100vh;
   width: 100%;  
}
.main{width: 90%;
margin: 0 auto;
padding-top: 0.5rem;
}

.navbar{display: flex;
justify-content: space-between;}

.navbar ul {list-style-type: none ;
    display: flex; 
    justify-content: space-between;  
}
.navbar div{color: white;}

.navbar ul li{
    cursor: pointer;
    padding: 2.5rem;
    /* flex: auto;
    text-align: end; */
}
.navbar ul h1{color: white;}

.navbar ul li a{
color: rgb(248, 244, 244);
text-decoration: none;
}
.navbar ul li a:hover{
color: rgb(240, 118, 138);}

.content{color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 130px;

}
.content p{text-align: center;
margin: 20PX 0px;}
.content h2{font-weight: 200;
font-size: 2rem;}
.content h1{font-weight: 300;
font-size: 3rem;}
.spn{color: red;}

.content button{
    cursor: pointer;
    padding: 0.8rem;
    border: 1px solid white;
    outline: none;
color: white;
font-weight: bolder;
border-radius: 3rem;
background-color: transparent;
}
.content button:hover{background-color: tomato;}
.content button:focus{background-color: purple;}

/* second section start here */

.About-us{
    padding: 50px 50px;
    height: 100%;
    display: flex;
}

.row{ display: inherit;
    height: 100%;
    justify-content: space-around;
    line-height: 30px;
        
}
.col{width: 40%;
      }
.col img{width: 100%;
    height: 100%;}
  .col h2{font-size: 30px;
margin-bottom: 20px; }   
 .col h4{font-size: 20px;
margin: 10px 0;}
 .col h4 span{color: rgb(212, 65, 89);}
 .col p{font-size: 20px;
margin: 10px 0;}
.button button{border: 1px solid grey;
    margin: 0 5px;  
     text-align: center;
    font-size: 25px;
    border-radius: 50%;
    outline: none;}
    .button button i{padding: 10px;}
.button button:hover{background-color: indigo;
   }
   /* section three start here */
.About-sec{
    padding: 50px 50px;
    height: 100vh; background-color: rgb(109, 102, 92); 
}
.container{
    text-align: center;
    }
.services h2{
    font-size: 30px;
    text-transform: capitalize;
    margin: 20px 0;
}
.services p{
    font-size: 18px;
    margin: 20px 0;
}

#services-sec .content-box{
    display: flex;
    justify-content: space-around;
    
}
.content-bx{
    border: 2px solid red;
    border-radius: 5px;
}
#services-sec .content-box .content-bx{
     padding: 50px;
    font-size: 20px;
    margin: 15px;
}
@media(max-width: 992px) {
    #services-sec .content-box .content-bx{ 
        margin: 15px auto;
    }
    .content-bx i{color: pink;}
}
#services-sec .content-box .content-bx div{
    font-size: 30px;
    color: red;
   
}
#services-sec .content-box .content-bx h4{
   margin: 15px 0;
   text-transform: capitalize;
}
#services-sec .content-box .content-bx p{
    margin: 15px 0;
   
}

.line{
     width: 15%;
    border-width: 1px;
    border-color: rgb(243, 146, 162);
    margin:0 auto;
    
}
.freelancer{
    margin: 100px;
}
.container3{
    text-align: center;
    font-size: 40px;
}
.container3 button{
    border: 1px solid blue;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px;
    background-color: brown;
}
.free{
    margin: 200px;
    text-align: center;
    background-color: cornsilk;
   
}
.container4 h2{
    line-height: 50px;
    font-size: 50px;
}
.container4 p{
    line-height: 70px;
    font-size: 20px;
}
.container4 i{
    font-size: 3rem;
    line-height: 20vh;
}
.con p{
    text-align: center;
}
.container5 h2{
    text-align: center;
    font-size:50px;
    line-height: 15vh;
}
.container5 p{
    text-align: center;
    font-size: 20px;
}
.nav-list{
    line-height: 5rem;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.nav-list li{
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}
.aline{
   text-align: center;
   background-color: navajowhite;
}
.con img{
    display: inline-flex;
    padding: 30px;
    width: 20%;
    height: 30vh;
}
.con2 img{
    display: inline-flex;
    padding: 30px;
    width: 20%;
    height: 30vh;
}
.silver{
    text-align: center;
    padding: 20vh;   
}
.container11 h2{
    font-size: 50px;
}
.container11 p{
    font-size: 20px;
    line-height: vh;
}
.aiza{
    display: flex;justify-content: center;
}
.aiza .items{
    margin: 20px;border: 1px solid black;
    width: 400px;
    
}
.aiza .items img{
    width: 100%;
}
.aiza .item{
    padding: 30px;
}